.sidebar {
  max-width: 50px;
  width: 100%;
  min-height: 100vh;
  background-color: var(--sidebar-bg);;
  padding-top: 20px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.active_sidebar_link {
  background-color: var(--sidebar-hover);
}
