.buttons {
  display: flex;
  gap: 12px;
}

.button {
  width: 140px;
  height: 40px;
  padding: 12px;
  background-color: var(--accent);
  border: none;
  color: var(--bg-primary);
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: var(--accent-hover);
  }
}

.button_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  &.white {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    color: var(--accent);
    &:hover {
      background-color: var(--bg-secondary);
    }
  }
  &.black {
    background-color: var(--accent);
    color: var(--bg-primary);
    &:hover {
      background-color: var(--bg-secondary);
    }
  }
}

.button_dropdown-container {
  position: relative;
  width: 140px;
}

.button_dropdown-menu {
  position: absolute;
  top: calc(100% + 8px);

  display: none;
  width: max-content;
  max-width: 240px;
  min-width: 100%;

  background-color: var(--bg-primary);
  border: 1px solid var(--border-color);
  z-index: 100;
  & > div {
    padding: 8px;
    cursor: pointer;
    &:hover {
      background-color: var(--bg-secondary);
    }
  }
}

.button_dropdown-menu_active {
  display: block;
}
